{% include 'links.html' %}
<body>
<nav class="navbar">
    <a href="/admin_home" class="nav-link">Home</a>
     <a href="/event_organizers" class="nav-link">Organizers</a>
    <a href="/add_category" class="nav-link">Category</a>
    <a href="/add_event_halls" class="nav-link">Event Halls</a>
    <a href="/event_hall_bookings" class="nav-link">Event Hall bookings</a>
    <a href="/view_bookings" class="nav-link">Event Bookings</a>
<!--    <a href="/event_hall_bookings_history" class="nav-link">Hall bookings History</a>-->
    <a href="/reviews" class="nav-link">Reviews</a>

    <a href="/logout" class="nav-link logout-btn">Logout</a>
</nav>
</body>



